In [1]:
print('hello world')

hello world

In [1]:
!pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/2d/5e/9213ea10ac473e2437dc2cb17323ddc0999997e2713d6a0b683b10773994/pandas-2.1.1-cp311-cp311-win_amd64.whl.metadata
  Downloading pandas-2.1.1-cp311-cp311-win_amd64.whl.metadata (18 kB)
Collecting numpy>=1.23.2 (from pandas)
  Obtaining dependency information for numpy>=1.23.2 from https://files.pythonhosted.org/packages/93/fd/3f826c6d15d3bdcf65b8031e4835c52b7d9c45add25efa2314b53850e1a2/numpy-1.26.0-cp311-cp311-win_amd64.whl.metadata
  Using cached numpy-1.26.0-cp311-cp311-win_amd64.whl.metadata (61 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\56976\documents\github\intro_cloud_limmy\.venv\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/32/4d/aaf7eff5deb402fd9a24a1449a8119f00d74ae9c2efa79f8ef9994261fc2/pytz-2023.3.post1-py2.py3-none-any.whl.metadata
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: six>=1.5 in c:\users\56976\documents\github\intro_cloud_limmy\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.1-cp311-cp311-win_amd64.whl (10.6 MB)
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/10.6 MB 325.1 kB/s eta 0:00:33
   ---------------------------------------- 0.1/10.6 MB 544.7 kB/s eta 0:00:20
   ---------------------------------------- 0.1/10.6 MB 656.4 kB/s eta 0:00:17
    --------------------------------------- 0.2/10.6 MB 1.1 MB/s eta 0:00:10
    --------------------------------------- 0.2/10.6 MB 1.1 MB/s eta 0:00:10
   -- ------------------------------------- 0.7/10.6 MB 2.4 MB/s eta 0:00:05
   ---- ----------------------------------- 1.2/10.6 MB 3.3 MB/s eta 0:00:03
   ----- ---------------------------------- 1.5/10.6 MB 3.8 MB/s eta 0:00:03
   ----- ---------------------------------- 1.5/10.6 MB 3.8 MB/s eta 0:00:03
   ------- -------------------------------- 1.9/10.6 MB 3.7 MB/s eta 0:00:03
   ------- -------------------------------- 2.0/10.6 MB 3.9 MB/s eta 0:00:03
   ---------- ----------------------------- 2.9/10.6 MB 4.9 MB/s eta 0:00:02
   ------------- -------------------------- 3.6/10.6 MB 5.6 MB/s eta 0:00:02
   ------------------- -------------------- 5.3/10.6 MB 7.7 MB/s eta 0:00:01
   ---------------------- ----------------- 5.9/10.6 MB 8.4 MB/s eta 0:00:01
   ---------------------- ----------------- 5.9/10.6 MB 8.4 MB/s eta 0:00:01
   ----------------------- ---------------- 6.2/10.6 MB 7.6 MB/s eta 0:00:01
   ----------------------- ---------------- 6.2/10.6 MB 7.6 MB/s eta 0:00:01
   ----------------------- ---------------- 6.2/10.6 MB 7.6 MB/s eta 0:00:01
   ----------------------- ---------------- 6.4/10.6 MB 6.6 MB/s eta 0:00:01
   ------------------------- -------------- 6.8/10.6 MB 6.6 MB/s eta 0:00:01
   -------------------------- ------------- 6.9/10.6 MB 6.5 MB/s eta 0:00:01
   -------------------------- ------------- 7.2/10.6 MB 6.5 MB/s eta 0:00:01
   --------------------------- ------------ 7.4/10.6 MB 6.6 MB/s eta 0:00:01
   ------------------------------ --------- 8.2/10.6 MB 6.8 MB/s eta 0:00:01
   ------------------------------- -------- 8.5/10.6 MB 6.9 MB/s eta 0:00:01
   ---------------------------------- ----- 9.3/10.6 MB 7.2 MB/s eta 0:00:01
   ------------------------------------- -- 10.0/10.6 MB 7.5 MB/s eta 0:00:01
   -------------------------------------- - 10.4/10.6 MB 8.4 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 9.1 MB/s eta 0:00:01
   ---------------------------------------- 10.6/10.6 MB 8.7 MB/s eta 0:00:00
Using cached numpy-1.26.0-cp311-cp311-win_amd64.whl (15.8 MB)
Using cached pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.0 pandas-2.1.1 pytz-2023.3.post1 tzdata-2023.3

In [2]:
import pandas as pd

In [3]:
x='hello world'
print("The variable has the value:", x)

The variable has the value: hello world

In [4]:
x=3
print(x)

3

In [7]:
t_boolean = True
print(type(t_boolean))
compute_boolean = 1 + 1 == 1
print(compute_boolean)

<class 'bool'>
False

In [8]:
t_integer = 12
print(type(t_integer))
compute_integer =40 + 6 - 2
print(compute_integer)

<class 'int'>
44

In [11]:
t_float = 12.58
print(type(t_float))
compute_float = 1.5 + 10.7 + 4.9
print(compute_float)

<class 'float'>
17.1

In [12]:
t_string = 'Hello'
print(type(t_string))
compute_string= '400' + '4' + ' Error'
print(compute_string)

<class 'str'>
4004 Error

In [14]:
single_quote = 'Hello'
doulbe_quote = "Hello"
multilign_string = '''This is
a multiline string
If you need to store
long arrays of characters.
'''
print(multilign_string)

This is
a multiline string
If you need to store
long arrays of characters.

In [24]:
t_list = ('Chapter', 1, 'This", "Is, a', 'list', 'of', "strings", ".")
print(t_list)

('Chapter', 1, 'This", "Is, a', 'list', 'of', 'strings', '.')

In [44]:
print(t_list[0])

Chapter

In [32]:
t_dictionary = {'Peugeot':'306', "Mercedes-Benz": "C220", "Audi": "A4"}
print(t_dictionary)

{'Peugeot': '306', 'Mercedes-Benz': 'C220', 'Audi': 'A4'}

In [23]:
t_nested_dict = [

                    {
                        "state": "Florida",
                        "shortname":"FL",
                        "Info": {"governor": "Rick Scott"},
                        "Counties": [ 
                            {"name": "Dade", "population": 12345}, 
                            {"name": "Broward", "population": 40000},
                            {"name": "Palm Beach", "population": 60000},
                        ],
                    },
                    {
                        "state": "Ohio",
                        "shortname": "OH",
                        "info": {"governor":"John Kasich"},
                        "counties": [
                            {"name": "Summit", "population": 1234}, 
                            {"name": "Cuyahoga", "population": 1337},
                        ],
                    },
                ]
print(t_nested_dict)

[{'state': 'Florida', 'shortname': 'FL', 'Info': {'governor': 'Rick Scott'}, 'Counties': [{'name': 'Dade', 'population': 12345}, {'name': 'Broward', 'population': 40000}, {'name': 'Palm Beach', 'population': 60000}]}, {'state': 'Ohio', 'shortname': 'OH', 'info': {'governor': 'John Kasich'}, 'counties': [{'name': 'Summit', 'population': 1234}, {'name': 'Cuyahoga', 'population': 1337}]}]

In [33]:
t_tuple = ('This', 'is', 'a', 'tuple.') 
print(t_tuple)

('This', 'is', 'a', 'tuple.')

In [39]:
data = {
    "City": ['Paris', 'Lyon', 'Bordeaux'],
    "Population": [2161000, 513275, 249712]
}
t_dataframe = pd.DataFrame(data) 
print(t_dataframe)

       City  Population
0     Paris     2161000
1      Lyon      513275
2  Bordeaux      249712

In [48]:
t_dataframe[t_dataframe['City']=='Paris']

    City  Population
0  Paris     2161000

In [40]:
cartes = ['Infinite', 'Platinium', 'Gold', 'Classic']
for carte in cartes:
    print(carte)

Infinite
Platinium
Gold
Classic

In [42]:
montant = 0
plafond = 100
while montant < plafond:
    print(montant) 
    montant += 10

0
10
20
30
40
50
60
70
80
90

In [47]:
montant_compte = 50 
if montant_compte < -500:
    print("Compte en contentieux")
elif montant_compte < 0:
    print("Compte débiteur")
else: 
    print("Compte créditeur")

Compte créditeur

In [54]:
montant_compte = 50 
def check_account_statut (montant_compte):
    if montant_compte < -500: 
        statut='Compte en contentieux'
    elif montant_compte < 0:
        statut="Compte débiteur"
    else:
        statut='Compte créditeur'
    return statut
check_account_statut (montant_compte)

'Compte créditeur'

In [1]:
mmc = 50
def check(mmc):
    if mmc < -500:
        status = "Account in dispute"
    elif mmc < 0:
        status = "Debit account"
    else:
        status = "Credit account"
    return status
check(mmc)

'Credit account'

In [6]:
import pandas as pd
import os
import glob

In [7]:
nasdaq_top_companies = [
    {
        "Ticker": "AAPL",
        "Company": "Apple Inc.",
        "Industry": "Technology",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 150.00,
        "Description": "Share price for Apple Inc. in September 2021"
    },
    {
        "Ticker": "MSFT",
        "Company": "Microsoft Corporation",
        "Industry": "Technology",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 300.00,
        "Description": "Share price for Microsoft Corporation in September 2021"
    },
    {
        "Ticker": "AMZN",
        "Company": "Amazon.com Inc.",
        "Industry": "E-commerce",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 3400.00,
        "Description": "Share price for Amazon.com Inc. in September 2021"
    },
    {
        "Ticker": "GOOGL",
        "Company": "Alphabet Inc. (Google)",
        "Industry": "Technology",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 2700.00,
        "Description": "Share price for Alphabet Inc. in September 2021"
    },
    {
        "Ticker": "FB",
        "Company": "Meta Platforms, Inc. (Facebook)",
        "Industry": "Social Media",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 330.00,
        "Description": "Share price for Meta Platforms, Inc. in September 2021"
    }
]
# Load dict to DataFrame
df_nasdaq=pd.DataFrame(nasdaq_top_companies)
df_nasdaq.head()

,Ticker,Company,Industry,Market Cap,Share_Price,Description
0,AAPL,Apple Inc.,Technology,Trillion Dollars,150.0,Share price for Apple Inc. in September 2021
1,MSFT,Microsoft Corporation,Technology,Trillion Dollars,300.0,Share price for Microsoft Corporation in Septe...
2,AMZN,Amazon.com Inc.,E-commerce,Trillion Dollars,3400.0,Share price for Amazon.com Inc. in September 2021
3,GOOGL,Alphabet Inc. (Google),Technology,Trillion Dollars,2700.0,Share price for Alphabet Inc. in September 2021
4,FB,"Meta Platforms, Inc. (Facebook)",Social Media,Trillion Dollars,330.0,"Share price for Meta Platforms, Inc. in Septem..."

In [8]:
cac40_data = [
    {
        "Ticker": "AC",
        "Company": "Accor",
        "Share_Price": 35.60
    },
    {
        "Ticker": "AI",
        "Company": "Air Liquide",
        "Share_Price": 147.80
    },
    {
        "Ticker": "MT",
        "Company": "ArcelorMittal",
        "Share_Price": 28.90
    },
    {
        "Ticker": "BNP",
        "Company": "BNP Paribas",
        "Share_Price": 53.20
    },
    {
        "Ticker": "CAP",
        "Company": "Capgemini",
        "Share_Price": 140.45
    },
]
# Load dict to DataFrame
cac40_data=pd.DataFrame(cac40_data)

In [9]:
os.mkdir(r'./MARKET_DATA/')

FileExistsError: [WinError 183] 当文件已存在时，无法创建该文件。: './MARKET_DATA/'

In [10]:
def CreateCsvFile(df, PrefixName: str):
    for ticker in df['Ticker']:
        pathName = r'./MARKET_DATA/'+ str(PrefixName) + str(ticker) + '.csv'
        df[df['Ticker']==ticker].to_csv(pathName, index=False)
    return None

In [2]:
def CreateCsvFile(df,PrefixName:str):
    for line, ticker in zip(df['Ticker'], df['Ticker']):
        pathName = r'./MARKET_DATA/' + str(PrefixName) +str(ticker) + '.csv'
        df[df['Ticker']==line].to_csv(pathName,index=False)
    return None

In [ ]:
def CreateCsvFile(df, PrefixName:str):
    for line, ticker in zip(df['Ticker'],df['Ticker']):
        pathName = r'./MARKET_DATA/'+str(PrefixName) + str(Ticker) + '.csv'
        df[df['Ticker']==line].to_csv(pathName,index=False)
    return None

In [11]:
CreateCsvFile(df_nasdaq, 'NASDAQ_')
CreateCsvFile(cac40_data, 'CAC40_')

In [13]:
# Assign the folder to parse
pathFolder = r'.\MARKET_DATA'
# Parse the folder
walkFolder = [path[0] for path in os.walk (pathFolder)]
# Initialize list
listOfFile = []
# Loop on the folder
for folder in walkFolder:
    # Assign folder path
    folderName = os.path.basename(folder)
    # Assign folder path joined to a file type searched
    files = os.path.join(folder, 'NASDAQ_*.csv')
    # Store the file path matching the file type searched
    listOfFile = glob.glob(files)

In [14]:
listOfFile

['.\\MARKET_DATA\\NASDAQ_AAPL.csv',
 '.\\MARKET_DATA\\NASDAQ_AMZN.csv',
 '.\\MARKET_DATA\\NASDAQ_FB.csv',
 '.\\MARKET_DATA\\NASDAQ_GOOGL.csv',
 '.\\MARKET_DATA\\NASDAQ_MSFT.csv']

In [15]:
# Initialize list
full_list = []
# Loop on all files
for file in listOfFile:
    # Import data to a Dataframe
    full_file = pd.read_csv(file, dtype = str).reset_index(drop = True)
    # Assign the file path to the file_name columns
    full_file['file_name']=os.path.basename(file)
    # Append the DataFrame to the list initialized
    full_list.append(full_file)
# Merge the list of DataFrames to a single DataFrame
fileConcat = pd.concat(full_list)

In [18]:
full_file

,Ticker,Company,Industry,Market Cap,Share_Price,Description,file_name
0,MSFT,Microsoft Corporation,Technology,Trillion Dollars,300.0,Share price for Microsoft Corporation in Septe...,NASDAQ_MSFT.csv

In [69]:
fileConcat

,Ticker,Company,Industry,Market Cap,Share_Price,Description,file_name
0,AAPL,Apple Inc.,Technology,Trillion Dollars,150.0,Share price for Apple Inc. in September 2021,NASDAQ_AAPL.csv
0,AMZN,Amazon.com Inc.,E-commerce,Trillion Dollars,3400.0,Share price for Amazon.com Inc. in September 2021,NASDAQ_AMZN.csv
0,FB,"Meta Platforms, Inc. (Facebook)",Social Media,Trillion Dollars,330.0,"Share price for Meta Platforms, Inc. in Septem...",NASDAQ_FB.csv
0,GOOGL,Alphabet Inc. (Google),Technology,Trillion Dollars,2700.0,Share price for Alphabet Inc. in September 2021,NASDAQ_GOOGL.csv
0,MSFT,Microsoft Corporation,Technology,Trillion Dollars,300.0,Share price for Microsoft Corporation in Septe...,NASDAQ_MSFT.csv